:global
  .radio-inline + .radio-inline
    margin-left 0

.generic-radio-input
  display: flex
  flex-wrap: wrap;
  width 100%


  &__radios-group
    display flex
    flex-wrap wrap

  &__radio-button
    margin-bottom 0.5rem
    margin-right 2rem


