.google-map
  &__map
    &:after
      content ' '
      display block
      width 15px
      height 15px
      background-size contain
      position absolute
      top 0
      bottom 0
      left 0
      right 0
      margin auto
      background url('./target.svg') center center no-repeat;

    margin-top 10px
    width 100%
    height 300px