.home-page
  padding 0 20px

  &__description
    font-size 18px

  &__tool
    margin-left 10px

  &__content
    max-width 65%
    margin 0 auto

  &__github-icon
    margin-right 10px

  &__submit
    float right

  &__result
    color green
